/*Giving the page a background*/
#container {
    background-image: url("../images/1920-field-AdobeStock_100003169.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

header {
    height: 135px;
    top: 0%;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 14pt;
}

#wins-text {
    color: green;
}

h1, h3 {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

#leftHeader {
    padding: 0;
    float: left;
    display: inline;
}

.rightHeader {
    padding: 0;
    display: inline;
    text-align: center;
}

#leftHeaderBox {
    display: inline;
}

.spacer {
    height: 300px;
}

#mainBody {
    padding: 30px;

}

#innerBody {
    background-color: white;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
}

#underscores {
    margin: 0 auto;
    text-align: center;
    font-size: 25pt;
    text-transform: capitalize;
}